<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_MSKxEE6cEeWsmZH1N8ccNw" specification="interface:&#xD;&#xA;in event button&#xD;&#xA;in event sensor&#xD;&#xA;&#xD;&#xA;var user_floor : integer&#xD;&#xA;var elev_floor : integer&#xD;&#xA;var open : boolean&#xD;&#xA;&#xD;&#xA;operation closeDoors():void&#xD;&#xA;operation openDoors():void" name="Elevador">
    <regions xmi:id="_MS8NIE6cEeWsmZH1N8ccNw" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_RF_VEFHAEeWGEtuaumQofQ" specification="entry / open=true" name="Open" incomingTransitions="_fFeHsFHAEeWGEtuaumQofQ _m00ZAFHAEeWGEtuaumQofQ _-caf-FHBEeWGEtuaumQofQ _vliLQFHBEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_kwqI4FHAEeWGEtuaumQofQ" specification="after 5s / closeDoors()" target="_bTXvEFHAEeWGEtuaumQofQ"/>
        <outgoingTransitions xmi:id="_-cXcrlHBEeWGEtuaumQofQ" specification="button [user_floor!=elev_floor] /&#xD;&#xA;closeDoors();open=false" target="_-cZ45lHBEeWGEtuaumQofQ"/>
        <outgoingTransitions xmi:id="_vliLQFHBEeWGEtuaumQofQ" specification="sensor" target="_RF_VEFHAEeWGEtuaumQofQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bTXvEFHAEeWGEtuaumQofQ" specification="entry / open=false" name="Closed" incomingTransitions="_kwqI4FHAEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_m00ZAFHAEeWGEtuaumQofQ" specification="sensor / openDoors()" target="_RF_VEFHAEeWGEtuaumQofQ"/>
        <outgoingTransitions xmi:id="_-cW1mVHBEeWGEtuaumQofQ" specification="button [user_floor!=elev_floor]" target="_-cZ45lHBEeWGEtuaumQofQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_d_sLYFHAEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_fFeHsFHAEeWGEtuaumQofQ" specification="/ user_floor=0;elev_floor=0" target="_RF_VEFHAEeWGEtuaumQofQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-cZ45lHBEeWGEtuaumQofQ" specification="" name="calculate_floor" incomingTransitions="_-cYqwFHBEeWGEtuaumQofQ _-cYDxFHBEeWGEtuaumQofQ _-cXcrlHBEeWGEtuaumQofQ _-cW1mVHBEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_-cc8OVHBEeWGEtuaumQofQ" specification="[elev_floor>user_floor]" target="_-cVAbFHBEeWGEtuaumQofQ"/>
        <outgoingTransitions xmi:id="_-ccVIFHBEeWGEtuaumQofQ" specification="[elev_floor&lt;user_floor]" target="_-cWOjFHBEeWGEtuaumQofQ"/>
        <outgoingTransitions xmi:id="_-caf-FHBEeWGEtuaumQofQ" specification="[elev_floor==user_floor] /&#xD;&#xA;openDoors()" target="_RF_VEFHAEeWGEtuaumQofQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-cWOjFHBEeWGEtuaumQofQ" specification="entry /&#xD;&#xA;elev_floor+=1" name="up" incomingTransitions="_-ccVIFHBEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_-cYqwFHBEeWGEtuaumQofQ" specification="after 3s" target="_-cZ45lHBEeWGEtuaumQofQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-cVAbFHBEeWGEtuaumQofQ" specification="entry /&#xD;&#xA;elev_floor-=1" name="down" incomingTransitions="_-cc8OVHBEeWGEtuaumQofQ">
        <outgoingTransitions xmi:id="_-cYDxFHBEeWGEtuaumQofQ" specification="after 3s" target="_-cZ45lHBEeWGEtuaumQofQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_MS6_AE6cEeWsmZH1N8ccNw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_MSKxEE6cEeWsmZH1N8ccNw" measurementUnit="Pixel">
    <children xmi:id="_MTDh4E6cEeWsmZH1N8ccNw" type="Region" element="_MS8NIE6cEeWsmZH1N8ccNw">
      <children xsi:type="notation:DecorationNode" xmi:id="_MTu3UE6cEeWsmZH1N8ccNw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MTu3UU6cEeWsmZH1N8ccNw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MTu3Uk6cEeWsmZH1N8ccNw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MTwFcE6cEeWsmZH1N8ccNw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_RF_8IFHAEeWGEtuaumQofQ" type="State" element="_RF_VEFHAEeWGEtuaumQofQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_RF_8JFHAEeWGEtuaumQofQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RF_8JVHAEeWGEtuaumQofQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RF_8JlHAEeWGEtuaumQofQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RF_8J1HAEeWGEtuaumQofQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RF_8KFHAEeWGEtuaumQofQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RF_8KVHAEeWGEtuaumQofQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RF_8KlHAEeWGEtuaumQofQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RF_8IVHAEeWGEtuaumQofQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RF_8IlHAEeWGEtuaumQofQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RF_8K1HAEeWGEtuaumQofQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RF_8I1HAEeWGEtuaumQofQ" x="33" y="94" width="181" height="78"/>
        </children>
        <children xmi:id="_bTYWIFHAEeWGEtuaumQofQ" type="State" element="_bTXvEFHAEeWGEtuaumQofQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_bTYWJFHAEeWGEtuaumQofQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bTYWJVHAEeWGEtuaumQofQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bTYWJlHAEeWGEtuaumQofQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bTYWJ1HAEeWGEtuaumQofQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bTY9MFHAEeWGEtuaumQofQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bTY9MVHAEeWGEtuaumQofQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bTY9MlHAEeWGEtuaumQofQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bTYWIVHAEeWGEtuaumQofQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bTYWIlHAEeWGEtuaumQofQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bTY9M1HAEeWGEtuaumQofQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bTYWI1HAEeWGEtuaumQofQ" x="153" y="250" width="157" height="121"/>
        </children>
        <children xmi:id="_d_sLYVHAEeWGEtuaumQofQ" type="Entry" element="_d_sLYFHAEeWGEtuaumQofQ">
          <children xmi:id="_d_sycFHAEeWGEtuaumQofQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_d_syc1HAEeWGEtuaumQofQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_d_sydFHAEeWGEtuaumQofQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_d_sydVHAEeWGEtuaumQofQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d_sycVHAEeWGEtuaumQofQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d_syclHAEeWGEtuaumQofQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d_sLYlHAEeWGEtuaumQofQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d_sLY1HAEeWGEtuaumQofQ" x="127" y="17"/>
        </children>
        <children xmi:id="_-cZR0FHBEeWGEtuaumQofQ" type="State" element="_-cZ45lHBEeWGEtuaumQofQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_-cZR0VHBEeWGEtuaumQofQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZR0lHBEeWGEtuaumQofQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-cZR01HBEeWGEtuaumQofQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cZR1FHBEeWGEtuaumQofQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-cZR1VHBEeWGEtuaumQofQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cZR1lHBEeWGEtuaumQofQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cZR11HBEeWGEtuaumQofQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZR2FHBEeWGEtuaumQofQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-cZR2VHBEeWGEtuaumQofQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-cZR2lHBEeWGEtuaumQofQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cZR21HBEeWGEtuaumQofQ" x="453" y="99" width="193" height="88"/>
        </children>
        <children xmi:id="_-cWOgFHBEeWGEtuaumQofQ" type="State" element="_-cWOjFHBEeWGEtuaumQofQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_-cWOgVHBEeWGEtuaumQofQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-cWOglHBEeWGEtuaumQofQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-cWOg1HBEeWGEtuaumQofQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cWOhFHBEeWGEtuaumQofQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-cWOhVHBEeWGEtuaumQofQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cWOhlHBEeWGEtuaumQofQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cWOh1HBEeWGEtuaumQofQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-cWOiFHBEeWGEtuaumQofQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-cWOiVHBEeWGEtuaumQofQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-cWOilHBEeWGEtuaumQofQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cWOi1HBEeWGEtuaumQofQ" x="753" y="99" width="171" height="83"/>
        </children>
        <children xmi:id="_-cVAYFHBEeWGEtuaumQofQ" type="State" element="_-cVAbFHBEeWGEtuaumQofQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_-cVAYVHBEeWGEtuaumQofQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-cVAYlHBEeWGEtuaumQofQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-cVAY1HBEeWGEtuaumQofQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cVAZFHBEeWGEtuaumQofQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-cVAZVHBEeWGEtuaumQofQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cVAZlHBEeWGEtuaumQofQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-cVAZ1HBEeWGEtuaumQofQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-cVAaFHBEeWGEtuaumQofQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-cVAaVHBEeWGEtuaumQofQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-cVAalHBEeWGEtuaumQofQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-cVAa1HBEeWGEtuaumQofQ" x="753" y="257" width="167" height="85"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MTwFcU6cEeWsmZH1N8ccNw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MTDh4U6cEeWsmZH1N8ccNw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MTwsgE6cEeWsmZH1N8ccNw" x="220" y="10" width="1089" height="651"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_MUEOhE6cEeWsmZH1N8ccNw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_MUE1kE6cEeWsmZH1N8ccNw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MUE1kU6cEeWsmZH1N8ccNw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MUE1kk6cEeWsmZH1N8ccNw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MUE1k06cEeWsmZH1N8ccNw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MUE1lE6cEeWsmZH1N8ccNw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MUFcoE6cEeWsmZH1N8ccNw" x="10" y="10" width="200" height="651"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MS6_AU6cEeWsmZH1N8ccNw"/>
    <edges xmi:id="_-cZR3FHBEeWGEtuaumQofQ" type="Transition" element="_-cYqwFHBEeWGEtuaumQofQ" source="_-cWOgFHBEeWGEtuaumQofQ" target="_-cZR0FHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cZR3VHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZR3lHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cZR31HBEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cZR4FHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cZR4VHBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cZR4lHBEeWGEtuaumQofQ" points="[-33, -4, 155, 5]$[-183, 5, 5, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR41HBEeWGEtuaumQofQ" id="(0.19883040935672514,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR5FHBEeWGEtuaumQofQ" id="(0.9637305699481865,0.8409090909090909)"/>
    </edges>
    <edges xmi:id="_-cZR5VHBEeWGEtuaumQofQ" type="Transition" element="_-cYDxFHBEeWGEtuaumQofQ" source="_-cVAYFHBEeWGEtuaumQofQ" target="_-cZR0FHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cZR5lHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZ44FHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cZ44VHBEeWGEtuaumQofQ" x="-63" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cZR51HBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cZR6FHBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cZR6VHBEeWGEtuaumQofQ" points="[-2, 0, 193, 131]$[-195, 0, 0, 131]$[-195, -125, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR6lHBEeWGEtuaumQofQ" id="(0.017964071856287425,0.7647058823529411)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR61HBEeWGEtuaumQofQ" id="(0.6683937823834197,0.9659090909090909)"/>
    </edges>
    <edges xmi:id="_-cc8MFHBEeWGEtuaumQofQ" type="Transition" element="_-cc8OVHBEeWGEtuaumQofQ" source="_-cZR0FHBEeWGEtuaumQofQ" target="_-cVAYFHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cc8NlHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cc8OFHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cc8N1HBEeWGEtuaumQofQ" x="46" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cc8NVHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cc8NFHBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cc8M1HBEeWGEtuaumQofQ" points="[0, 0, -172, -89]$[0, 89, -172, 0]$[170, 89, -2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cc8MlHBEeWGEtuaumQofQ" id="(0.7564766839378239,0.9659090909090909)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cc8MVHBEeWGEtuaumQofQ" id="(0.017964071856287425,0.3176470588235294)"/>
    </edges>
    <edges xmi:id="_-cbuEVHBEeWGEtuaumQofQ" type="Transition" element="_-ccVIFHBEeWGEtuaumQofQ" source="_-cZR0FHBEeWGEtuaumQofQ" target="_-cWOgFHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cbuF1HBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cbuGVHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cbuGFHBEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cbuFlHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cbuFVHBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cbuFFHBEeWGEtuaumQofQ" points="[0, -7, -156, 2]$[157, -34, 1, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cbuE1HBEeWGEtuaumQofQ" id="(1.0,0.42045454545454547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cbuElHBEeWGEtuaumQofQ" id="(0.05263157894736842,0.3253012048192771)"/>
    </edges>
    <edges xmi:id="_fFeuwFHAEeWGEtuaumQofQ" type="Transition" element="_fFeHsFHAEeWGEtuaumQofQ" source="_d_sLYVHAEeWGEtuaumQofQ" target="_RF_8IFHAEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_fFeuxFHAEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fFeuxVHAEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fFeuxlHAEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fFeuwVHAEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fFeuw1HAEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fFeuwlHAEeWGEtuaumQofQ" points="[0, 7, 0, -78]$[3, 70, 3, -15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fFfV0FHAEeWGEtuaumQofQ" id="(0.574585635359116,0.21794871794871795)"/>
    </edges>
    <edges xmi:id="_kwqI4VHAEeWGEtuaumQofQ" type="Transition" element="_kwqI4FHAEeWGEtuaumQofQ" source="_RF_8IFHAEeWGEtuaumQofQ" target="_bTYWIFHAEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_kwqv8VHAEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kwqv8lHAEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kwqv81HAEeWGEtuaumQofQ" x="1" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kwqI4lHAEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kwqv8FHAEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kwqI41HAEeWGEtuaumQofQ" points="[-5, 0, 2, -97]$[-5, 83, 2, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kwrXAFHAEeWGEtuaumQofQ" id="(0.7458563535911602,0.9102564102564102)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kwrXAVHAEeWGEtuaumQofQ" id="(0.10828025477707007,0.008264462809917356)"/>
    </edges>
    <edges xmi:id="_m00ZAVHAEeWGEtuaumQofQ" type="Transition" element="_m00ZAFHAEeWGEtuaumQofQ" source="_bTYWIFHAEeWGEtuaumQofQ" target="_RF_8IFHAEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_m01AEVHAEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_m01AElHAEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_m01AE1HAEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_m00ZAlHAEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_m01AEFHAEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_m00ZA1HAEeWGEtuaumQofQ" points="[0, -9, 99, 172]$[-99, -9, 0, 172]$[-99, -176, 0, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m01nIFHAEeWGEtuaumQofQ" id="(0.0,0.8099173553719008)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m01nIVHAEeWGEtuaumQofQ" id="(0.12154696132596685,0.9358974358974359)"/>
    </edges>
    <edges xmi:id="_-cZR7FHBEeWGEtuaumQofQ" type="Transition" element="_-cXcrlHBEeWGEtuaumQofQ" source="_RF_8IFHAEeWGEtuaumQofQ" target="_-cZR0FHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cZR7VHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZ44lHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cZ441HBEeWGEtuaumQofQ" x="-14" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cZR7lHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cZR71HBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cZR8FHBEeWGEtuaumQofQ" points="[0, 8, -159, 1]$[160, -7, 1, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR8VHBEeWGEtuaumQofQ" id="(1.0,0.717948717948718)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR8lHBEeWGEtuaumQofQ" id="(0.0,0.5454545454545454)"/>
    </edges>
    <edges xmi:id="_-cZ46VHBEeWGEtuaumQofQ" type="Transition" element="_-caf-FHBEeWGEtuaumQofQ" source="_-cZR0FHBEeWGEtuaumQofQ" target="_RF_8IFHAEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-caf9VHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-caf91HBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-caf9lHBEeWGEtuaumQofQ" x="-7" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-caf9FHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-caf81HBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-caf8lHBEeWGEtuaumQofQ" points="[0, 6, 101, 1]$[-96, -9, 5, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-caf8VHBEeWGEtuaumQofQ" id="(0.03626943005181347,0.10227272727272728)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-caf8FHBEeWGEtuaumQofQ" id="(0.9281767955801105,0.19230769230769232)"/>
    </edges>
    <edges xmi:id="_-cZR81HBEeWGEtuaumQofQ" type="Transition" element="_-cW1mVHBEeWGEtuaumQofQ" source="_bTYWIFHAEeWGEtuaumQofQ" target="_-cZR0FHBEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cZR9FHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cZ45FHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cZ45VHBEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cZR9VHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cZR9lHBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cZR91HBEeWGEtuaumQofQ" points="[0, 0, -152, 165]$[152, 0, 0, 165]$[152, -139, 0, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR-FHBEeWGEtuaumQofQ" id="(1.0,0.6198347107438017)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-cZR-VHBEeWGEtuaumQofQ" id="(0.025906735751295335,0.6931818181818182)"/>
    </edges>
    <edges xmi:id="_vljZYFHBEeWGEtuaumQofQ" type="Transition" element="_vliLQFHBEeWGEtuaumQofQ" source="_RF_8IFHAEeWGEtuaumQofQ" target="_RF_8IFHAEeWGEtuaumQofQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_vljZZFHBEeWGEtuaumQofQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vljZZVHBEeWGEtuaumQofQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vljZZlHBEeWGEtuaumQofQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vljZYVHBEeWGEtuaumQofQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vljZY1HBEeWGEtuaumQofQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vljZYlHBEeWGEtuaumQofQ" points="[7, 4, 37, 6]$[7, 39, 37, 41]$[-30, 39, 0, 41]$[-30, 4, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vlkngFHBEeWGEtuaumQofQ" id="(0.4585635359116022,0.9487179487179487)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vlkngVHBEeWGEtuaumQofQ" id="(0.287292817679558,0.9230769230769231)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
